###> symfony/framework-bundle ###
/.env
/docker-compose.override.yml
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
.docker/data
.docker/data/*

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
