{% extends 'base.html.twig' %}

{% block title %}
    {{ 'directions.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'directions.title'|trans }}</h1>
    </main>
{% endblock %}
