{% extends 'base.html.twig' %}

{% block title %}
    {{ 'privacy.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'privacy.title'|trans }}</h1>
    </main>
{% endblock %}